* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgba(245, 245, 245, 0.409);
}

img {
  border-radius: 3px;
}

/*menu*/

.menu {
  margin: 0 auto;
  background: #f9b82088;
  width: 100%;

}

.menu-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 960px;
}

.menu-logo {
  font-size: 2.30em;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;

}

.menu-nav ul li {
  text-decoration: none;
  list-style: none;
  padding: 0 15px;
}


.menu-nav ul a {
  display: block;
  text-decoration: none;
  color: #222222;
  font-size: 1.25em;
  transition: .3s;
}

.menu-nav ul a:hover {
  color: rgb(255, 60, 0);
}

/*botão fixo */

.botao-topo {
  text-decoration: none;
  color: white;
  background-color: rgb(255, 60, 0);
  padding: 12px;
  position: fixed;
  right: 155px;
  bottom: 10px;
}

/*introdução*/
.introducao {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1;
  font-size: 3em;
  padding: 80px 0px;
  border-bottom: 4px solid #f9b82088;
}

.introducao-dicas {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 4px solid #f9b82088;
  text-transform: capitalize;
}

.introducao-info {
  font-size: 3em;
  color: #222222e0;
  height: 100%;

}

.introducao-img {
  flex: 1 1 600px;
}

.introducao-img img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/*Seções*/

.section {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 4px solid #f9b82088;

}

.section-sec {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.section-info {
  font-size: 2em;
  color: #222222;
  height: 100%;
}

.section-img {
  flex: 1 1 700px;
}

.section-img img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

span {
  font-size: .7em;
}

/*seções dicas*/

.section-dicas {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.section-img-dicas {
  text-align: start;
}

.section-img-dicas img {
  margin-top: 20px;
  max-width: 100%;
  object-fit: cover;

}

.section-dicas h3 {
  margin: 15px 0px;
}

.section-dicas p {
  font-size: 1.1em;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  background: #f9b82088;
  color: #222222;
  font-weight: bold;
  transition: .3s;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.more a:hover {
  color: rgb(255, 60, 0);
}

/*Footer*/

.footer {
  margin: 0 auto;
  background: #f9b82088;
  width: 100%;
  height: 70px;
  text-align: center;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer-info h3 {
  font-size: 1em;
  margin-right: 8px;
  color: #222222b9;
}

.footer-info a {
  text-decoration: none;
  color: #222222;
  transition: .5s;
}

.footer-info a:hover {
  color: rgb(255, 60, 0);
  font-size: 1.1em;
}

/*Responsivo*/

@media (max-width: 800px) {
  .botao-topo {
    display: none;
  }

  .introducao {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    line-height: 1;
    font-size: 4em;
    justify-content: center;
    text-align: center;
    padding: 60px 0px;
    border-bottom: 4px solid #f9b82088;
  }

  .introducao-dicas {
    margin: 0 15px;
    padding: 40px 0;
  }

  .section {
    margin: 0 15px;
    padding: 40px 0;
  }

  .section p {
    font-size: .8em;
  }

  .section-sec {
    margin: 0 15px;
  }


}

@media (max-width: 654px) {
  .menu-info {
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  .menu-logo {
    padding-bottom: 15px;
  }

  .introducao {
    font-size: 3em;
  }

  .introducao-info {
    font-size: 1.1em;
    color: #222222e0;
    height: 100%;
    text-align: center;
  }

  .introducao-dicas {
    flex-direction: column;
  }

  .introducao-img img {
    object-fit: cover;
  }

  .section-info {
    font-size: 1.7em;
    color: #222222;
    height: 100%;
  }

  .section {
    flex-direction: column;

  }




}

@media (max-width: 396px) {
  .menu-logo {
    font-size: 2em;
    padding-bottom: 8px;
  }

  .menu-info ul {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .menu-nav li {
    margin: 10px 0px;
    font-size: 1.1em;
  }

  .introducao {
    font-size: 1.50em;
    margin: 0;
    padding: 15px;
  }

  .introducao-dicas {
    height: 500px;
  }

  .introducao-img img {
    object-fit: contain;
    width: 100%;
    height: 300px;
  }

  .introducao-info {
    font-size: .8em;
  }

  .section {
    height: 500px;
  }

  .section p {
    font-size: .56em;
  }

  .section-img img {
    object-fit: cover;
  }


}